rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    // Default safety catch-all
    match /{document=**} {
      allow read, write: if false;
    }

    // Test connection doc
    match /test/{docId} {
      allow read, write: if true;
    }

    // User profiles & user tasks
    match /users/{userId} {
      allow get, list, write: if isSignedIn();
      match /{allSubcollections=**} {
        allow read, write: if isSignedIn();
      }
    }

    // Students collection
    match /students/{studentId} {
      allow read, write: if true;
    }

    // Teachers collection
    match /teachers/{teacherId} {
      allow read, write: if true;
    }

    // Classes collection
    match /classes/{classId} {
      allow read, write: if true;
    }

    // Majors collection
    match /majors/{majorId} {
      allow read, write: if true;
    }

    // Student Attendance collection
    match /attendance/{attendanceId} {
      allow read, write: if true;
    }

    // Teacher Attendance collection
    match /teacher_attendance/{id} {
      allow read, write: if true;
    }

    // Full system backups collection
    match /backups/{backupId} {
      allow read, write: if true;
    }
  }
}
